<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Searchweb</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="your-custom-styles.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<style>
    body {
        background-color: #f8fafc;
        font-family: 'Inter', sans-serif;
    }

    .mainContainer {
        max-width: 1400px;
        margin: 0 auto;
    }


    .website-card {
        background-color: white;
        border-radius: 12px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
        transition: all 0.3s ease;
        overflow: hidden;
        height: 180px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .website-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    }

    .website-card-header {
        display: flex;
        align-items: center;
        padding: 16px;
        background-color: #f8fafc;
        border-bottom: 1px solid #e2e8f0;
    }

    .website-card-body {
        padding: 16px;
        position: relative;
        flex-grow: 1;
    }

    .website-icon {
        width: 40px;
        height: 40px;
        margin-right: 12px;
        border-radius: 8px;
    }

    .bookmark-icon {
        position: absolute;
        top: 12px;
        right: 12px;
        font-size: 1.25rem;
        color: #d1d5db;
        cursor: pointer;
        transition: color 0.3s ease;
        display: none;
    }

    .website-card:hover .bookmark-icon {
        display: block;
    }

    .bookmark-icon:hover, .bookmark-icon.active {
        color: #fbbf24;
    }

    .bookmark-icon.active {
        display: block;
        color: #fbbf24;
    }

    .search-result {
        background-color: #e0f2fe;
        border-radius: 20px;
        padding: 10px 20px;
        font-weight: 600;
        color: #0369a1;
        margin-bottom: 20px;
    }

    .visit-site-btn {
        display: inline-flex;
        align-items: center;
        padding: 6px 12px;
        background-color: #f3f4f6;
        border-radius: 20px;
        transition: all 0.3s ease;
        font-size: 0.875rem;
        position: absolute;
        right: 16px;
        bottom: 16px;
    }

    .visit-site-btn:hover {
        background-color: #8352f5;
        color: white;
    }
</style>
<body class="bg-gray-100">
<!-- 메뉴바 fragment 사용 -->
<nav th:replace="~{fragment/navbar :: copy}"></nav>

<!-- 사이드바 fragment 사용 -->
<aside th:replace="~{fragment/sidebar :: copy}"></aside>

<!-- 로그인된 경우 북마크 전체 조회 -->
<span sec:authorize="isAuthenticated()">
    <script th:inline="javascript">
        window.onload = function() {
            window.memberId = [[${#authentication.principal.memberId}]];
            findAllBookmark(memberId);
        };
    </script>
</span>

<!--
// v0 by Vercel.
// https://v0.dev/t/LZF12cpgYcS
-->

<!-- 메인 컨덴트 -->
<main class="flex flex-col flex-1 overflow-hidden" style="margin-left: 223px; margin-top: 64px;">
    <div class="mainContainer mx-auto px-4 py-8" style="padding-left: 100px;padding-right: 100px; padding-top: 10px;">

        <!-- 카테고리 바 -->
        <div class="mb-4">
            <div class="mt-8">
                <div class="flex flex-col sm:flex-row justify-between items-center">
                    <div class="flex flex-wrap justify-center sm:justify-start gap-2 mb-4 sm:mb-0">
                        <a href="?category=All" class="category-btn px-4 py-2 text-sm font-medium text-gray-700 bg-gray-100 rounded-full shadow-md border border-gray-300 transition duration-300 ease-in-out hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
                            <i class="fas fa-globe mr-2"></i> All
                        </a>
                        <a href="?category=IT" class="category-btn px-4 py-2 text-sm font-medium text-gray-700 bg-gray-100 rounded-full shadow-md border border-gray-300 transition duration-300 ease-in-out hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
                            <i class="fas fa-code mr-2"></i> IT
                        </a>
                        <a href="?category=Design" class="category-btn px-4 py-2 text-sm font-medium text-gray-700 bg-gray-100 rounded-full shadow-md border border-gray-300 transition duration-300 ease-in-out hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
                            <i class="fas fa-paint-brush mr-2"></i> Design
                        </a>
                        <a href="?category=AI" class="category-btn px-4 py-2 text-sm font-medium text-gray-700 bg-gray-100 rounded-full shadow-md border border-gray-300 transition duration-300 ease-in-out hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
                            <i class="fas fa-robot mr-2"></i> AI
                        </a>
                        <a href="?category=Icon" class="category-btn px-4 py-2 text-sm font-medium text-gray-700 bg-gray-100 rounded-full shadow-md border border-gray-300 transition duration-300 ease-in-out hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
                            <i class="fas fa-icons mr-2"></i> Icon
                        </a>
                        <a href="?category=PPT" class="category-btn px-4 py-2 text-sm font-medium text-gray-700 bg-gray-100 rounded-full shadow-md border border-gray-300 transition duration-300 ease-in-out hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
                            <i class="fas fa-file-powerpoint mr-2"></i> PPT
                        </a>
                        <a href="?category=Font" class="category-btn px-4 py-2 text-sm font-medium text-gray-700 bg-gray-100 rounded-full shadow-md border border-gray-300 transition duration-300 ease-in-out hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
                            <i class="fas fa-font mr-2"></i> Font
                        </a>
                        <a href="?category=Util" class="category-btn px-4 py-2 text-sm font-medium text-gray-700 bg-gray-100 rounded-full shadow-md border border-gray-300 transition duration-300 ease-in-out hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
                            <i class="fas fa-tools mr-2"></i> Util
                        </a>
                    </div>

                    <div class="flex items-center space-x-2">
                        <button class="flex items-center px-4 py-2 text-sm font-medium text-gray-700 bg-gray-100 rounded-full shadow-md border border-gray-300 transition duration-300 ease-in-out hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
                            <svg class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M12.395 2.553a1 1 0 00-1.45-.385c-.345.23-.614.558-.822.88-.214.33-.403.713-.57 1.116-.334.804-.614 1.768-.84 2.734a31.365 31.365 0 00-.613 3.58 2.64 2.64 0 01-.945-1.067c-.328-.68-.398-1.534-.398-2.654A1 1 0 005.05 6.05 6.981 6.981 0 003 11a7 7 0 1011.95-4.95c-.592-.591-.98-.985-1.348-1.467-.363-.476-.724-1.063-1.207-2.03zM12.12 15.12A3 3 0 017 13s.879.5 2.5.5c0-1 .5-4 1.25-4.5.5 1 .786 1.293 1.371 1.879A2.99 2.99 0 0113 13a2.99 2.99 0 01-.879 2.121z" clip-rule="evenodd"></path>
                            </svg>
                            인기
                        </button>
                        <button class="flex items-center px-4 py-2 text-sm font-medium text-gray-700 bg-gray-100 rounded-full shadow-md border border-gray-300 transition duration-300 ease-in-out hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
                            <svg class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 10-2 0v4a1 1 0 00.293.707l2.828 2.829a1 1 0 101.415-1.415L11 9.586V6z" clip-rule="evenodd"></path>
                            </svg>
                            최신
                        </button>
                    </div>
                </div>
            </div>
        </div>





            <!-- 검색 결과 없을 때 메시지 표시 -->
            <div th:if="${resultCount != null && resultCount == 0}" class="flex items-center justify-center mt-32">
                <div class="text-center bg-white p-8 rounded-xl shadow-md border border-gray-100">
                    <div class="flex items-center justify-center mb-4">
                        <div class="w-16 h-16 flex items-center justify-center rounded-full bg-gray-200">
                            <span class="text-4xl text-gray-400">!</span>
                        </div>
                    </div>
                    <div class="text-2xl font-semibold text-gray-600 mb-2">
                        "<span th:text="${query}"></span>"에 대한 검색 결과가 없습니다.
                    </div>
                    <div class="text-gray-500 text-sm mt-4">
                        다시 검색해주세요.
                    </div>
                </div>
            </div>


            <!-- 검색 결과 개수 표시 -->
            <div class="search-result" th:if="${resultCount}">
                검색 결과: <span class="font-bold" th:text="${resultCount}">0</span>개
            </div>

            <!-- 검색 결과 있을 때 메시지 표시 -->
            <!-- 웹사이트 요소 -->
            <div class="grid gap-6 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 mt-4">
                <div th:each="l : ${list}" th:data-website-id="${l.websiteId}" class="website-card relative">
                    <div class="website-card-header">
                        <!-- 웹사이트 이미지 -->
                        <img th:src="@{|https://www.google.com/s2/favicons?sz=48&domain_url=${l.url}|}" alt="" class="website-icon">
                        <!-- 웹사이트 이름 -->
                        <h3 class="text-lg font-semibold" th:text="${l.name}">Website Name</h3>
                        <!-- 북마크(즐겨찾기) -->
                        <i class="bookmark-icon fas fa-bookmark" th:onclick="|Bookmark(${l.websiteId})|"></i>
                    </div>
                    <div class="website-card-body">
                        <!-- 웹사이트 설명 -->
                        <p class="text-xs text-gray-600" th:text="${l.description}">Website Description</p>
                        <a th:href="${l.url}" target="_blank" class="visit-site-btn">
                            <i class="fas fa-external-link-alt mr-1"></i>Visit
                        </a>
                    </div>
                </div>
            </div>
        </div>
</main>

<!-- 푸터 -->
<footer th:replace="~{fragment/footer :: copy}"></footer>


<script th:inline="javascript">

    /**
     *  북마크 전체 조회
     */
    function findAllBookmark(memberId) {

        // API 호출
        callBookmarkApi_sync("/mainList/" + memberId + "/bookmarks", 'GET')
            .then(response => {
                if (!response.length) {
                    return false;
                }
                // 사용자가 북마크한 웹사이트의 ID 목록 생성
                const bookmarkedWebsiteIds = response.map(item => item.website_websiteId);

                document.querySelectorAll('.website-card').forEach(card => {
                    const websiteId = card.getAttribute('data-website-id');
                    const bookmarkIcon = card.querySelector('.bookmark-icon');

                    if (bookmarkedWebsiteIds.includes(parseInt(websiteId))) {
                        bookmarkIcon.classList.add('active');
                    } else {
                        bookmarkIcon.classList.remove('active');
                    }
                });
            })
            .catch(error => {
                console.error("오류 발생:", error);
            });
    }



        // 북마크 API 호출(Synchronous, 동기)
        function callBookmarkApi_sync(uri, method) {
            return new Promise((resolve, reject) => {
                $.ajax({
                    url: uri,
                    type: method,
                    dataType: 'json',
                    async: false,
                    success: function(response) {
                        resolve(response);
                    },
                    error: function(xhr, status, error) { //xhr :XMLHttpRequest(XHR)
                        if (xhr.status === 401) { // 401 Unauthorized: 로그인되지 않은 경우
                            // 로그인 페이지로 리다이렉션
                            window.location.href = "/login";
                        } else {
                            // 다른 오류 발생 시 처리
                            console.error("오류 발생: " + error);
                        }
                        reject(error);
                    }
                });
            });
        }




        /**
         *  북마크 추가/제거(비동기)
         */
        async function Bookmark(websiteId) {
            // 사용자가 북마크 했는지 안 했는지 체크
            const uri = "/mainList/bookmark/status/" + websiteId; // 서버에 해당 아이템이 북마크되어 있는지 확인하는 요청
            const response = await callBookmarkApi_sync(uri, 'GET');

            const bookmarkIcon = document.querySelector(`[data-website-id="${websiteId}"] .bookmark-icon`);

            // 북마크 하지 않았다면 북마크 추가, 이미 북마크 했다면 북마크 삭제
            if (response == 0) {
                // 북마크 추가
                const uri = "/mainList/" + memberId + "/bookmark/" + websiteId;
                await callBookmarkApi_sync(uri, 'POST');
                bookmarkIcon.classList.add('active');
            } else {
                // 북마크 삭제
                const uri = "/mainList/" + memberId + "/bookmark/" + websiteId;
                await callBookmarkApi_sync(uri, 'DELETE');
                bookmarkIcon.classList.remove('active');
            }
        }


    // 카테고리 버튼 활성화 스크립트
    document.addEventListener('DOMContentLoaded', function() {
        const params = new URLSearchParams(window.location.search);
        const category = params.get('category') || 'All';
        const buttons = document.querySelectorAll('.category-btn');

        buttons.forEach(button => {
            const href = button.getAttribute('href');
            if (href.includes('?category=' + category)) {

                button.classList.add('bg-gradient-to-r', 'from-purple-500', 'to-indigo-600', 'text-white');
                button.classList.remove('bg-gray-100', 'text-gray-700');
            } else {
                button.classList.remove('bg-gradient-to-r', 'from-purple-500', 'to-indigo-600', 'text-white');
                button.classList.add('bg-gray-100', 'text-gray-700');
            }
        });
    });
</script>



</div>
</body>
</html>