<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Searchweb</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="your-custom-styles.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>

<style>
/** 반응형 CSS **/
/* 대형 화면  */
@media (min-width: 1521px) {
    .container {
        width: 100%;
    }
}

/* 중간 화면 */
@media (min-width: 1201px) and (max-width: 1520px) {
    .container {
        width: 1700px; /* 고정 너비 */
    }
}

/* 소형 화면  */
@media (max-width: 1200px) {
    .container {
        width: 100%;
    }
}


       /* 북마크 아이콘 스타일 */
      .bookmark {
        width: 0;
        height: 0;
        border: solid transparent;
        border-width: 0 15px 30px 15px;
        border-color: transparent transparent #ffc107 transparent;
        position: relative;
      }

      .bookmark:before {
        content: '';
        position: absolute;
        top: -25px;
        left: -15px;
        border: solid transparent;
        border-width: 0 15px 30px 15px;
        border-color: transparent transparent white transparent;
      }

      .bookmark:after {
        content: '';
        position: absolute;
        top: -25px;
        left: -15px;
        border: solid transparent;
        border-width: 0 15px 30px 15px;
        border-color: transparent transparent #ffc107 transparent;
      }

      /* 아이콘을 이미지 우측 상단에 겹치게 하는 CSS */
      .bookmark-overlay {
        position: absolute;
        top: 5px;
        right: 5px;
      }


        .rounded-lg .button-container svg{
            display: none;
        }

        .rounded-lg:hover .button-container svg{
            display: block;
        }


</style>
<body>

<!-- 메뉴바 fragment 사용 -->
<nav th:replace="~{fragment/navbar :: copy}"></nav>


<!-- 사이드바 fragment 사용 -->
<aside th:replace="~{fragment/sidebar :: copy}"></aside>


<!--  사용자 인증 상태 확인  -->
<div sec:authorize="isAnonymous()">
    <h1>로그인이 필요합니다.</h1>
    <!-- 여기에 로그인 폼 또는 다른 인증 관련 링크를 포함시킵니다. -->
</div>

<div sec:authorize="isAuthenticated()" style="margin-left: 300px;">
    <h1 th:text="'환영합니다, ' + ${#authentication.name} + '님'"></h1>
    <h1 th:text="'환영합니다, ' + ${#authentication.principal.memberId} + '님'"></h1>
    <!--<h1 th:text="'환영합니다, ' + ${#authentication.principal.username} + '님'"></h1>-->


    <!-- 인증된 사용자를 위한 추가적인 컨텐츠를 포함시킵니다. -->
    <script th:inline="javascript">
        window.onload = function() {
            window.memberId = [[${#authentication.principal.memberId}]];
            console.log(memberId);
            findAllBookmark(memberId);
        };
    </script>
</div>

<!--
// v0 by Vercel.
// https://v0.dev/t/LZF12cpgYcS
-->

<!-- 메인 컨덴트 -->
<main class="flex flex-col flex-1 overflow-hidden bg-gray-100"  style="margin-left: 223px;">
    <div class="flex-1 overflow-x-hidden overflow-y-auto">

        <!-- 웹사이트 요소 -->
        <div class="container mx-auto px-40 sm:px-0 md:px-0 xl:px-64 py-16">
            <div class="grid gap-4 mb-8 xs:grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 mx-auto" style="max-width: 100%;">

                <div th:each="l:${list}"  th:data-website-id="${l.websiteId}" class="w-full max-w-sm rounded-lg bg-white border-2 border-gray-250 bg-card text-card-foreground shadow-sm transform transition-transform duration-300 hover:scale-105" data-v0-t="card"  style="height: 160px;">

                    <!-- 북마크(즐겨찾기) -->
                    <div class="button-container" style="display: flex; justify-content: flex-end; position: absolute; top: 5px; right: 5px;">
                        <button class="bookmark-button" type="button"  th:onclick="|Bookmark(${l.websiteId})|">
                            <!--북마크 안되었을때 이미지-->
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16" style="">
                                <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1z"/>
                            </svg>
                            <!--북마크 되었을때 이미지-->
                            <!--<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="#FFD700" class="bi bi-bookmark-fill" viewBox="0 0 16 16" style="position: absolute; top: 0; right: 0; z-index: 1;">
                              <path d="M2 2v13.5a.5.5 0 0 0 .74.439L8
                            </svg>-->
                        </button>
                    </div>


                    <a th:href="${l.url}" target="_blank">
                        <div class="p-6 flex flex-row items-center justify-between pb-2 space-y-0">
                            <!-- 웹사이트 이미지 -->
                            <img th:src="@{|https://www.google.com/s2/favicons?sz=48&domain_url=${l.url}|}" alt="" title="" class="w-10 h-10"> <!-- 이미지 크기 조정 -->
                            <!-- 웹사이트 이름 -->
                            <h1 class="whitespace-nowrap tracking-tight text-sm font-bold" th:text="${l.name}">website Name</h1>
                        </div>

                        <div class="p-6 pt-4">
                            <!-- 웹사이트 설명 -->
                            <p class="text-xs text-gray-500 dark:text-gray-400" th:text="${l.description}" style="font-size: 0.66rem;">Website Description Website Description</p>
                            <!-- 웹사이트 카테고리 -->
                            <!-- <p class="text-xs text-gray-500 dark:text-gray-400" th:text="${l.category}" style="font-size: 0.66rem;">Category</p>-->
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>

<script th:inline="javascript">

    /**
     *  북마크 전체 조회
     */
    function findAllBookmark(memberId) {

        // API 호출
        callBookmarkApi_sync("/mainList/" + memberId + "/bookmarks", 'GET')
            .then(response => {
                if (!response.length) {
                    return false;
                }

                // 모든 웹사이트 아이디 가져오기
                const websiteItems = document.querySelectorAll('[data-website-id]');
                console.log("websiteItems", websiteItems);

                // 사용자가 북마크한 웹사이트의 ID 목록 생성
                const bookmarkedWebsiteIds = response.map(item => item.website_websiteId);
                console.log("bookmarkedWebsiteIds", bookmarkedWebsiteIds);

                websiteItems.forEach(item => {
                    const websiteId = item.getAttribute('data-website-id');

                    // 사용자가 북마크한 상점인지 확인
                    if (bookmarkedWebsiteIds.includes(parseInt(websiteId))) {
                        // 아이콘 색상 변경
                        const bookmarkIcon = item.querySelector('.bi-bookmark');
                        if (bookmarkIcon) {
                            bookmarkIcon.innerHTML = '<path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2"/>';
                            bookmarkIcon.style.fill = '#FFD700'; // 노란색 표시

                            // 수정된 부분: 아이콘을 표시하는 부모 요소인 .rounded-lg 요소를 찾아서 그 안에 있는 .button-container의 svg 요소 찾음
                            const svg = item.closest('.rounded-lg').querySelector('.button-container svg');
                            svg.style.display = 'block';
                        }
                    }
                });
            })
            .catch(error => {
                console.error("오류 발생:", error);
            });
    }


    // 북마크 API 호출(Asynchronous, 비동기)
     function callBookmarkApi(uri, method) {
            let json = {};

            $.ajax({
                url: uri,
                type: method,
                dataType: 'json',
                success: function(response) {
                    console.log("success");
                    json = response;
                },
                error: function(xhr, status, error) { //xhr :XMLHttpRequest(XHR)
                    if (xhr.status === 401) { // 401 Unauthorized: 로그인되지 않은 경우
                        // 로그인 페이지로 리다이렉션
                        window.location.href = "/login";
                        return;
                    } else {
                        // 다른 오류 발생 시 처리
                        console.error("오류 발생: " + error);
                    }
                }
            });
            return json;
        }

        // 북마크 API 호출(Synchronous, 동기)
        function callBookmarkApi_sync(uri, method) {
            return new Promise((resolve, reject) => {
                $.ajax({
                    url: uri,
                    type: method,
                    dataType: 'json',
                    async: false,
                    success: function(response) {
                        console.log("success");
                        resolve(response);
                    },
                    error: function(xhr, status, error) { //xhr :XMLHttpRequest(XHR)
                        if (xhr.status === 401) { // 401 Unauthorized: 로그인되지 않은 경우
                            // 로그인 페이지로 리다이렉션
                            window.location.href = "/login";
                        } else {
                            // 다른 오류 발생 시 처리
                            console.error("오류 발생: " + error);
                        }
                        reject(error);
                    }
                });
            });
        }




        /**
         *  북마크 추가/제거(비동기)
         */
        async function Bookmark(websiteId) {
            // 사용자가 북마크 했는지 안 했는지 체크
            const uri = "/mainList/bookmark/status/" + websiteId; // 서버에 해당 아이템이 북마크되어 있는지 확인하는 요청
            const response = await callBookmarkApi_sync(uri, 'GET');
            console.log('첫번째 response: ' + response);



            // 북마크 하지 않았다면 북마크 추가, 이미 북마크 했다면 북마크 삭제
            if (response == 0) {
                // 북마크 추가
                const uri = "/mainList/" + memberId + "/bookmark/" + websiteId;
                const response = callBookmarkApi(uri, 'POST');
                console.log('추가 response: ' + response);

                // 북마크 추가 성공 시 아이콘 색상 및 모양 변경
                const bookmarkIcon = document.querySelector(`[data-website-id="${websiteId}"] .bi-bookmark`);
                bookmarkIcon.innerHTML = '<path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2"/>'; //북마크 SVG 이미지 변경
                bookmarkIcon.style.display = 'block'; //북마크되면 계속 보이게 상태 유지
                bookmarkIcon.style.fill = '#FFD700';

                // 마우스 hover, 북마크 모양 유지
                const storeItem = document.querySelector(`[data-website-id="${websiteId}"]`);
                storeItem.addEventListener('mouseenter', function() {
                    bookmarkIcon.style.display = 'block';
                });

                // 마우스가 떠났을 때, 북마크 모양 유지 (북마크되면 계속 보이게 상태 유지)
                storeItem.addEventListener('mouseleave', function() {
                    bookmarkIcon.style.display = 'block';
                });

            } else {
                // 북마크 삭제
                const uri = "/mainList/" + memberId + "/bookmark/" + websiteId;
                const response = callBookmarkApi(uri, 'DELETE');
                console.log('삭제 response: ' + response);

                // 북마크 제거 성공 시 아이콘 색상 및 모양 변경
                const bookmarkIcon = document.querySelector(`[data-website-id="${websiteId}"] .bi-bookmark`);
                bookmarkIcon.innerHTML = '<path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1z"/>'; //북마크 SVG 이미지 변경
                bookmarkIcon.style.fill = 'currentColor';

                // 마우스 hover, 북마크 추가 모양 표시
                const storeItem = document.querySelector(`[data-website-id="${websiteId}"]`);
                storeItem.addEventListener('mouseenter', function() {
                    const bookmarkIcon = storeItem.querySelector('.bi-bookmark');
                    bookmarkIcon.style.display = 'block';
                });

                // 마우스가 떠났을 때, 북마크 모양 숨김
                storeItem.addEventListener('mouseleave', function() {
                    const bookmarkIcon = storeItem.querySelector('.bi-bookmark');
                    bookmarkIcon.style.display = 'none';
                });
            }
        }
</script>



</div>
</body>
</html>