<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Searchweb</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="your-custom-styles.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body class="bg-gray-100 flex justify-center items-center min-h-screen">

<!-- 메뉴바 fragment 사용 -->
<nav th:replace="~{fragment/navbar :: copy}"></nav>

<!-- 사이드바 fragment 사용 -->
<aside th:replace="~{fragment/sidebar :: copy}"></aside>

<!-- 게시판 목록 -->
<main class="bg-white rounded-lg shadow-lg p-6 w-full max-w-3xl h-full flex flex-col" style="margin-left: 223px; margin-top: 80px;min-height: 100vh;">

    <!-- 검색바 -->
    <div class="w-full max-w-3xl mx-auto mb-4">
        <form action="#" method="GET" class="flex items-center border border-gray-300 rounded-full bg-gray-100 p-1 w-full">
            <i class="fas fa-search text-gray-500 ml-3"></i>
            <input type="text" name="query" placeholder="검색" th:value="${query}" class="flex-grow bg-transparent p-2 focus:outline-none text-gray-600 ml-2" required>
            <button type="submit" class="hidden"></button>
        </form>
    </div>


    <!-- 검색 결과 개수 표시 -->
    <div th:if="${resultCount != null && resultCount > 0 && query != null && !query.isEmpty()}" class="search-result bg-blue-100 rounded-xl px-5 py-2 font-semibold text-blue-800 mb-5">
        검색 결과: <span class="font-bold" th:text="${resultCount}">0</span>개
    </div>

    <!-- 검색 결과 없을 때 메시지 표시 -->
    <div th:if="${resultCount != null && resultCount == 0 && query != null && !query.isEmpty()}" class="search-result bg-red-100 rounded-xl px-5 py-2 font-semibold text-red-800 mb-5">
        "<span th:text="${query}"></span>"에 대한 검색 결과가 없습니다.
    </div>



    <!-- 카테고리 바 -->
    <div class="mb-4">
        <div class="p-4 pb-0">
            <div class="flex flex-col sm:flex-row justify-between items-center">
                <div class="flex flex-wrap justify-center sm:justify-start gap-2 mb-4 sm:mb-0">

                    <!-- 전체 게시글 선택 -->
                    <button onclick="changePostType('all')" id="postType-all"
                            class="px-4 py-2 text-sm font-medium rounded-full shadow-md transition duration-300 ease-in-out hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
                        전체
                    </button>

                    <!-- 웹사이트 공유 게시글 선택 -->
                    <button onclick="changePostType('website')" id="postType-website"
                            class="px-4 py-2 text-sm font-medium rounded-full shadow-md transition duration-300 ease-in-out hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
                        웹사이트 공유
                    </button>

                    <!-- 질문 게시글 선택 -->
                    <button onclick="changePostType('question')" id="postType-question"
                            class="px-4 py-2 text-sm font-medium rounded-full shadow-md transition duration-300 ease-in-out hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
                        질문
                    </button>
                </div>

                <div class="flex items-center space-x-2">
                    <!-- 인기순 버튼 -->
                    <button onclick="changeSort('popular')" id="sort-popular"
                            class="flex items-center px-4 py-2 text-sm font-medium rounded-full shadow-md bg-gray-100 text-gray-700">
                        <i class="fas fa-fire mr-2"></i> 인기
                    </button>

                    <!-- 최신순 버튼 -->
                    <button onclick="changeSort('newest')" id="sort-newest"
                            class="flex items-center px-4 py-2 text-sm font-medium rounded-full shadow-md bg-gray-100 text-gray-700">
                        <i class="fas fa-clock mr-2"></i> 최신
                    </button>
                </div>

                <script>
                    // 게시글 타입 변경
                    function changePostType(newType) {
                        postType = newType;  // 게시글 타입 상태 변경
                        page = 0;            // 첫 페이지부터 다시 시작
                        hasNext = true;
                        document.getElementById("board-container").innerHTML = ""; // 게시글 초기화
                        updatePostTypeButtonUI(newType);
                        loadBoards(); // 게시글 다시 로드
                    }

                    // 게시글 정렬 변경
                    function changeSort(newSort) {
                        sort = newSort;     // 정렬 상태 변경
                        page = 0;
                        hasNext = true;
                        document.getElementById("board-container").innerHTML = "";
                        updateSortButtonUI(newSort);
                        loadBoards();
                    }


                    // 게시글 타입 버튼 UI 업데이트 함수
                    function updatePostTypeButtonUI(activeType) {
                        const postTypes = ['all', 'website', 'question'];
                        postTypes.forEach(type => {
                            const btn = document.getElementById(`postType-${type}`);
                            if (type === activeType) {
                                btn.classList.remove('text-gray-700', 'bg-gray-100');
                                btn.classList.add('text-white', 'bg-gradient-to-r', 'from-purple-500', 'to-indigo-600');
                            } else {
                                btn.classList.remove('text-white', 'bg-gradient-to-r', 'from-purple-500', 'to-indigo-600');
                                btn.classList.add('text-gray-700', 'bg-gray-100');
                            }
                        });
                    }


                    // 인기순/최신순 버튼 UI 업데이트 함수
                    function updateSortButtonUI(activeSort) {
                        const sortTypes = ['popular', 'newest'];
                        sortTypes.forEach(type => {
                            const btn = document.getElementById(`sort-${type}`);
                            if (type === activeSort) {
                                btn.classList.remove('bg-gray-100', 'text-gray-700');
                                btn.classList.add('bg-gradient-to-r', 'from-purple-500', 'to-indigo-600', 'text-white');
                            } else {
                                btn.classList.remove('bg-gradient-to-r', 'from-purple-500', 'to-indigo-600', 'text-white');
                                btn.classList.add('bg-gray-100', 'text-gray-700');
                            }
                        });
                    }
                </script>

            </div>
        </div>
    </div>

    <!-- 글 작성 섹션 -->
    <div class="w-full max-w-3xl mx-auto px-4">
        <!-- 글 작성 섹션 (로그인된 경우) -->
        <div th:if="${#authorization.expression('isAuthenticated()')}" class="relative mb-6">
            <form class="relative">
                <input type="text" placeholder="유용한 웹사이트를 공유하거나, 필요한 웹사이트를 질문해 보세요!"
                       class="w-full pl-10 pr-4 py-2 bg-gray-100 rounded-full text-sm focus:outline-none focus:bg-white focus:ring-2 focus:ring-purple-500 transition-colors duration-200"
                       readonly onclick="openSelectPopup()">
                <div class="absolute inset-y-0 left-0 pl-4 flex items-center pointer-events-none">
                    <i class="fas fa-pencil-alt text-gray-500"></i>
                </div>
            </form>
        </div>

        <!-- 글 작성 섹션 (로그인되지 않은 경우) -->
        <div th:if="${#authorization.expression('!isAuthenticated()')}" class="relative mb-6">
            <form class="relative">
                <input type="text" placeholder="게시글 작성하기"
                       class="w-full pl-10 pr-4 py-2 bg-gray-100 rounded-full text-sm focus:outline-none focus:bg-white focus:ring-2 focus:ring-purple-500 transition-colors duration-200"
                       readonly onclick="window.location.href='/login'">
                <div class="absolute inset-y-0 left-0 pl-4 flex items-center pointer-events-none">
                    <i class="fas fa-pencil-alt text-gray-500"></i>
                </div>
            </form>
        </div>
    </div>


    <!-- 글 작성 선택 팝업 -->
    <div id="select-popup" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 backdrop-blur-sm hidden z-50" style="margin-left: 223px;">
        <div class="bg-white rounded-lg shadow-xl p-10 w-full max-w-sm transform transition-all duration-300 ease-out">
            <h2 class="text-xl font-semibold text-gray-800 mb-8 text-center">원하시는 작업을 선택하세요</h2>
            <div class="flex flex-col space-y-5">
                <button onclick="openSharePopup()" class="flex items-center justify-between px-5 py-4 bg-gradient-to-r from-purple-600 to-purple-400 text-white rounded-lg text-base font-semibold shadow-md hover:shadow-lg transform hover:scale-105 transition-transform duration-200 ease-in-out">
                    <span>웹사이트 공유</span>
                    <i class="fas fa-share-alt text-lg"></i>
                </button>
                <button onclick="openQuestionPopup()" class="flex items-center justify-between px-5 py-4 bg-gradient-to-r from-indigo-600 to-indigo-400 text-white rounded-lg text-base font-semibold shadow-md hover:shadow-lg transform hover:scale-105 transition-transform duration-200 ease-in-out">
                    <span>질문</span>
                    <span class="text-lg font-bold">Q</span>
                </button>
            </div>
            <div class="flex justify-center mt-8">
                <button onclick="closeSelectPopup()" class="px-4 py-2 bg-gray-200 text-gray-600 rounded-lg font-medium shadow-sm hover:bg-gray-300 transition-colors duration-200 ease-out text-sm">
                    취소
                </button>
            </div>
        </div>
    </div>


    <!-- 웹사이트 공유 팝업 -->
    <div id="share-popup" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 backdrop-blur-sm hidden z-50" style="margin-left: 223px;">
        <div class="bg-white rounded-xl shadow-2xl p-8 w-full max-w-2xl transform transition-all duration-300 ease-out">
            <div class="flex items-center mb-6">
                <div class="bg-purple-600 w-12 h-12 flex items-center justify-center rounded-lg">
                    <i class="fas fa-share-alt text-white text-2xl"></i>
                </div>
                <h2 class="text-2xl font-extrabold text-gray-900 ml-4">웹사이트 공유</h2>
            </div>

            <form th:if="${#authorization.expression('isAuthenticated()')}" th:action="@{/board/{memberId}/post(memberId=${#authentication.principal.memberId})}" method="post" onsubmit="return confirmSubmission();">
                <div class="space-y-6">
                    <div>
                        <label class="block text-gray-700 font-semibold mb-2">웹사이트 이름</label>
                        <input type="text" name="title" class="w-full px-4 py-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-purple-500 text-gray-800 placeholder-gray-400" placeholder="웹사이트 이름을 입력하세요">
                    </div>
                    <div>
                        <label class="block text-gray-700 font-semibold mb-2">웹사이트 링크</label>
                        <input type="url" name="url" class="w-full px-4 py-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-purple-500 text-gray-800 placeholder-gray-400" placeholder="https://">
                    </div>

                    <div>
                        <label class="block text-gray-700 font-semibold mb-2">웹사이트 개요</label>
                        <input type="text" name="summary" class="w-full px-4 py-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-purple-500 text-gray-800 placeholder-gray-400" placeholder="웹사이트 이름을 입력하세요" maxlength="100">

                    </div>

                    <div>
                        <label class="block text-gray-700 font-semibold mb-2">웹사이트 설명</label>
                        <textarea name="description" class="w-full px-4 py-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-purple-500 text-gray-800 placeholder-gray-400 resize-none" rows="4" placeholder="웹사이트 설명을 입력하세요"></textarea>
                    </div>

                    <!-- 해시태그 -->
                    <div>
                        <label class="block text-gray-700 font-semibold mb-2">해시태그</label>
                        <input type="text" class="hashtag-input w-full px-4 py-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500 text-gray-800 placeholder-gray-400" placeholder="해시태그를 입력하고 space bar를 누르세요" maxlength="20">
                        <small class="text-gray-500">최대 5개의 해시태그를 추가할 수 있습니다.</small>
                        <!-- 해시태그 컨테이너 -->
                        <div class="hashtags-container flex flex-wrap gap-2 mt-2"></div>
                        <!-- 해시태그를 하나의 문자열로 저장할 숨겨진 필드 -->
                        <input type="hidden" class="hidden-hashtags" name="hashtags">
                    </div>

                </div>

                <div class="flex justify-end mt-8">
                    <button type="button" class="px-4 py-2 bg-gray-300 text-gray-700 rounded-full font-medium shadow-sm hover:bg-gray-400 transition-colors duration-200 ease-out mr-2" onclick="closeSharePopup()">취소</button>
                    <button type="submit" class="px-4 py-2 bg-purple-600 text-white rounded-full font-bold shadow-md hover:bg-purple-700 transition-colors duration-200 ease-in-out">공유하기</button>
                </div>
            </form>
        </div>
    </div>




    <!-- 질문 팝업 -->
    <div id="question-popup" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 backdrop-blur-sm hidden z-50" style="margin-left: 223px;">
        <div class="bg-white rounded-xl shadow-2xl p-8 w-full max-w-2xl transform transition-all duration-300 ease-out">
            <div class="flex items-center mb-6">
                <svg width="48" height="48" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
                    <!-- 배경 사각형 -->
                    <rect x="0" y="0" width="48" height="48" rx="10" ry="10" fill="#4F46E5"/>
                    <!-- 텍스트 -->
                    <text x="50%" y="50%" font-size="24" font-family="Arial" fill="white" font-weight="bold" text-anchor="middle" dominant-baseline="central">Q</text>
                </svg>
                <h2 class="text-2xl font-extrabold text-gray-900 ml-4">질문하기</h2>
            </div>

            <form th:if="${#authorization.expression('isAuthenticated()')}" th:action="@{/board/{memberId}/post(memberId=${#authentication.principal.memberId})}" method="post" onsubmit="return confirmSubmission();">
                <div class="space-y-6">
                    <div>
                        <label class="block text-gray-700 font-semibold mb-2">질문 제목</label>
                        <input type="text" name="title" class="w-full px-4 py-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500 text-gray-800 placeholder-gray-400" placeholder="질문 제목을 입력하세요">
                    </div>
                    <div>
                        <label class="block text-gray-700 font-semibold mb-2">질문 내용</label>
                        <textarea name="description" class="w-full px-4 py-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500 text-gray-800 placeholder-gray-400 resize-none" rows="5" placeholder="질문 내용을 입력하세요"></textarea>
                    </div>

                    <!-- 해시태그 -->
                    <div>
                        <label class="block text-gray-700 font-semibold mb-2">해시태그</label>
                        <input type="text" class="hashtag-input w-full px-4 py-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500 text-gray-800 placeholder-gray-400" placeholder="해시태그를 입력하고 space bar를 누르세요" maxlength="20">
                        <small class="text-gray-500">최대 5개의 해시태그를 추가할 수 있습니다.</small>
                        <!-- 해시태그 컨테이너 -->
                        <div class="hashtags-container flex flex-wrap gap-2 mt-2"></div>
                        <!-- 해시태그를 하나의 문자열로 저장할 숨겨진 필드 -->
                        <input type="hidden" class="hidden-hashtags" name="hashtags">
                    </div>

                </div>
                <div class="flex justify-end mt-8">
                    <button type="button" class="px-4 py-2 bg-gray-300 text-gray-700 rounded-full font-medium shadow-sm hover:bg-gray-400 transition-colors duration-200 ease-out mr-2" onclick="closeQuestionPopup()">취소</button>
                    <button type="submit" class="px-4 py-2 bg-indigo-600 text-white rounded-full font-bold shadow-md hover:bg-indigo-700 transition-colors duration-200 ease-in-out">질문하기</button>
                </div>


            </form>
        </div>
    </div>


    <script>
        const maxHashtags = 5;

        document.querySelectorAll('.hashtag-input').forEach((input, index) => {
            const container = input.closest('div');
            const hashtagsContainer = container.querySelector('.hashtags-container');
            const hiddenHashtagsInput = container.querySelector('.hidden-hashtags');
            let hashtags = [];

            input.addEventListener('keyup', function(event) {
                if (event.key === ' ') {
                    event.preventDefault();  // 스페이스 키로 폼 제출 방지
                    let hashtagText = input.value.trim();

                    // 입력된 해시태그 문자열을 공백으로 분리하여 배열로 변환
                    let words = hashtagText.split(/\s+/);

                    // 각 단어를 해시태그로 추가
                    words.forEach(word => {
                        if (word.length > 0 && !hashtags.includes(word) && hashtags.length < maxHashtags) {
                            addHashtag(word, hashtags, hashtagsContainer, input);
                        }
                    });

                    updateHiddenInput(hashtags, hiddenHashtagsInput);
                    input.value = ''; // 입력 필드 비우기
                }
            });

            function addHashtag(text, hashtags, container, input) {
                hashtags.push(text);

                let hashtag = document.createElement('span');
                hashtag.className = 'relative inline-flex items-center bg-gradient-to-r from-purple-700 to-indigo-400 text-white rounded-full px-3 py-1 text-sm font-semibold cursor-pointer';
                hashtag.innerHTML = `#${text}`;

                let closeButton = document.createElement('span');
                closeButton.className = 'absolute top-0 right-0 transform translate-x-1/2 -translate-y-1/2 bg-red-500 text-white rounded-full w-4 h-4 flex items-center justify-center text-xs cursor-pointer';
                closeButton.style.lineHeight = '1';
                closeButton.innerHTML = 'x';

                // X 버튼 클릭 이벤트 추가
                closeButton.addEventListener('click', function(event) {
                    event.stopPropagation();
                    removeHashtag(hashtag, text, hashtags, input, hiddenHashtagsInput);
                });

                hashtag.appendChild(closeButton);
                container.appendChild(hashtag);

                if (hashtags.length >= maxHashtags) {
                    input.disabled = true;
                    input.placeholder = "해시태그 제한에 도달했습니다.";
                }
            }

            function removeHashtag(element, text, hashtags, input, hiddenInput) {
                // 해시태그 배열에서 해당 해시태그 삭제
                const index = hashtags.indexOf(text);
                if (index !== -1) {
                    hashtags.splice(index, 1); // 해당 인덱스의 해시태그 삭제
                }

                element.remove();

                if (hashtags.length < maxHashtags) {
                    input.disabled = false;
                    input.placeholder = "스페이스바를 눌러 해시태그를 추가하세요";
                }

                updateHiddenInput(hashtags, hiddenInput);
            }

            function updateHiddenInput(hashtags, hiddenInput) {
                hiddenInput.value = hashtags.join(' ');  // 해시태그를 공백으로 구분하여 저장
            }
        });


        function openSelectPopup() {
            document.getElementById('select-popup').classList.remove('hidden');
        }

        function closeSelectPopup() {
            document.getElementById('select-popup').classList.add('hidden');
        }

        function openSharePopup() {
            closeSelectPopup();
            document.getElementById('share-popup').classList.remove('hidden');
        }

        function closeSharePopup() {
            document.getElementById('share-popup').classList.add('hidden');
        }

        function openQuestionPopup() {
            closeSelectPopup();
            document.getElementById('question-popup').classList.remove('hidden');
        }

        function closeQuestionPopup() {
            document.getElementById('question-popup').classList.add('hidden');
        }

        function confirmSubmission() {
            return confirm("게시글을 올리시겠습니까?");
        }
    </script>




    <!-- 게시물 -->
    <div id="board-container" class="space-y-4 w-full overflow-y-hidden">
     <!-- JS로 게시글 렌더링 영역 -->
    </div>

    <script>
        let page = 0;
        const size = 10;
        let sort = "newest";
        let query = "";
        let postType = "all";
        let loading = false;
        let hasNext = true;

        // 게시글 목록 초기 상태
        window.onload = () => {
            updatePostTypeButtonUI(postType);  // '전체' 버튼 활성화
            updateSortButtonUI(sort);          // '최신순' 버튼 활성화
            loadBoards();                      // 게시글 로드
        };

        window.addEventListener("scroll", () => {
            if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight - 200 && !loading && hasNext) {
                loadBoards();
            }
        });

        // 페이징된 게시글 목록 조회 (JS 기반)
        function loadBoards() {
            loading = true;
            fetch(`/api/boards?page=${page}&size=${size}&sort=${sort}&query=${query}&postType=${postType}`)
                .then(response => response.json())
                .then(data => {
                    renderBoards(data.boards, data.hashtagsList);
                    hasNext = data.hasNext;
                    page++;
                    loading = false;
                })
                .catch(() => loading = false);
        }

        function renderBoards(boards, hashtagsList) {
            const container = document.getElementById("board-container");
            boards.forEach((board, index) => {
                const hashtags = hashtagsList[index] || [];

                const profileHtml = `
                <div class="flex items-start mb-3">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" class="w-10 h-10 mr-2">
                        <circle cx="50" cy="50" r="45" fill="#e5e7eb"/>
                        <circle cx="50" cy="35" r="15" fill="white"/>
                        <path d="M 25 70 C 25 55, 75 55, 75 70 A 20 15 0 0 1 25 70 Z" fill="white"/>
                    </svg>
                    <div>
                        <div class="text-sm text-gray-700">
                            <span class="font-bold">${board.nickname}</span>님이
                            <span class="font-bold ${board.url ? 'text-purple-600' : 'text-indigo-500'}">
                                ${board.url ? '웹사이트' : '질문'}</span>을 남겼습니다.
                        </div>
                        <div class="text-xs text-gray-500">
                            ${board.job}, ${board.major} • ${board.created_date}
                        </div>
                    </div>
                </div>`;

                const contentHtml = `
                <a href="/board/${board.boardId}" class="relative p-6 mb-6 bg-gray-100 rounded-lg border border-gray-200 block">
                    <div class="flex items-center mb-4">
                        ${board.url ? `
                            <div class="bg-white rounded-xl flex-shrink-0 shadow-md" style="width: 82px; height: 82px;">
                                <img src="https://www.google.com/s2/favicons?sz=128&domain_url=${board.url}" class="rounded-lg object-cover" style="width: 100%; height: 100%;">
                            </div>` : `
                            <div class="rounded-xl flex-shrink-0" style="width: 76px; height: 76px;">
                                <svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
                                    <circle cx="24" cy="24" r="24" fill="#4F46E5"/>
                                    <text x="50%" y="50%" font-size="24" font-family="Arial" fill="white" font-weight="bold" text-anchor="middle" dominant-baseline="central">Q</text>
                                </svg>
                            </div>`}

                        <div class="ml-4 flex-grow overflow-hidden">
                            <h3 class="text-gray-700 font-semibold">${board.title}</h3>
                            <p class="text-sm text-gray-500 break-words">${board.summary || ''}</p>
                        </div>
                    </div>

                    <div class="flex flex-wrap gap-1 mt-2 mb-2">
                        ${hashtags.map(tag => `
                            <span class="inline-block bg-gradient-to-r from-gray-400 to-gray-300 text-white rounded-full px-2 py-0.5 text-xs font-semibold">#${tag}</span>
                        `).join('')}
                    </div>

                    <div class="flex justify-between items-center text-sm text-gray-500">
                        <div class="flex items-center space-x-3">
                            <div class="flex items-center space-x-1"><i class="fas fa-heart"></i><span>${board.likes_count}</span></div>
                            <div class="flex items-center space-x-1"><i class="fas fa-comment"></i><span>${board.comments_count}</span></div>
                            <div class="flex items-center space-x-1"><i class="fas fa-bookmark"></i><span>${board.bookmarks_count}</span></div>
                        </div>
                        <div class="flex items-center space-x-1"><i class="fas fa-eye"></i><span>${board.views_count}</span></div>
                    </div>
                </a>`;

                const card = document.createElement("div");
                card.className = "p-4 pb-8 bg-white shadow";
                card.innerHTML = profileHtml + contentHtml;
                container.appendChild(card);
            });
        }
    </script>
</main>



</body>
</html>
