<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@latest/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>

<div class="flex justify-center items-center h-screen bg-gray-100">
    <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md">

        <h1 class="text-3xl font-bold mb-6 text-gray-900">로그인</h1>

        <!-- 로그인 폼 -->
        <form class="space-y-4" action="/loginProc" th:action="@{/loginProc}" method="post" name="loginForm">
            <div>
                <label class="text-sm font-medium leading-none block mb-1 text-gray-700" for="username">아이디</label>
                <input class="flex h-10 text-sm w-full rounded-md border border-gray-300 bg-white px-3 py-2 text-gray-900 shadow-sm placeholder-gray-400
                focus:border-indigo-500 focus:ring-1 focus:ring-indigo-500" type="text" name="username" id="username" placeholder="아이디" />
            </div>
            <div>
                <label class="text-sm font-medium leading-none block mb-1 text-gray-700" for="password">비밀번호</label>
                <input class="flex h-10 text-sm w-full rounded-md border border-gray-300 bg-white px-3 py-2 text-gray-900 shadow-sm placeholder-gray-400
                focus:border-indigo-500 focus:ring-1 focus:ring-indigo-500" type="password" name="password" id="password" placeholder="비밀번호" />
            </div>

            <button class="inline-flex items-center justify-center w-full h-10 px-4 py-2 text-sm font-medium bg-indigo-600 text-white rounded-md hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 disabled:pointer-events-none disabled:opacity-50" type="submit">
                로그인
            </button>
        </form>

        <!-- 회원가입 링크 -->
        <p class="mt-4 text-sm text-gray-600 text-center">
            계정이 없으신가요? <a href="/join" class="text-indigo-300 hover:text-indigo-550 font-medium">회원가입</a>
        </p>
    </div>
</div>

</body>
</html>
