<!-- 푸터 fragment -->
<footer th:fragment="copy" class="bg-black relative z-10 h-52 w-full flex items-center justify-between px-5 md:px-40">

    <!-- 회사명 -->
    <div class="footer_logo flex items-center">

        <a href="#" class="flex items-center text-white text-5xl no-underline">
            <img src="https://cdn-icons-png.flaticon.com/512/2807/2807256.png" alt="search.image" title="search.image" class="w-16 h-16 md:w-20 md:h-20 mr-4">
            SearchWeb
        </a>
    </div>

    <!-- 이메일 -->
    <div class="email text-white text-base text-center">
        <h3>Contact: search2304@gmail.com</h3>
    </div>
</footer>