<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.web.SearchWeb.main.dao.MainDao">
    <select id="getListByCategory" resultType="com.web.SearchWeb.main.domain.Website">
        select * from website
        <where>
            <if test="category != 'All'">
                category = #{category}
            </if>
        </where>
    </select>


    <select id="getListByQuery" resultType="com.web.SearchWeb.main.domain.Website">
        SELECT * FROM website
        WHERE
        LOWER(name) LIKE CONCAT('%', LOWER(#{query}), '%')
        OR
        LOWER(description) LIKE CONCAT('%', LOWER(#{query}), '%')
        ORDER BY
        CASE WHEN LOWER(name) LIKE CONCAT('%', LOWER(#{query}), '%') THEN 1
        ELSE 2  END;

        <!--SELECT * FROM website
        WHERE
        name LIKE CONCAT('%', UPPER(#{query}), '%')
        OR
        name LIKE CONCAT('%', LOWER(#{query}), '%');-->

        <!--WHERE LOWER(name) LIKE CONCAT('%', LOWER(#{query}), '%')-->
    </select>
</mapper>